<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.BookMapper">
	
  	<insert id="insert" keyColumn="id" keyProperty="id" parameterType="Book" useGeneratedKeys="true">
    	insert into book(title,price,amount) values(#{title},#{price},#{amount}) 
  	</insert>

</mapper>